*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    width: 100%;
    background-color: azure;
    font-size: 2rem;
    font-family: monospace;
}



.nav-container, .wrapper{
        display: flex;
        justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: white;
    width: 600px;
    height: 100%;
}
