*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(190, 194, 194);
    font-family: monospace;
    font-size: 1.5rem;
    color: gray;
    font-weight: 500;
}
span{
    color: #49a6e9;
}

nav{
    background-color: white;
    height: auto;


}

.nav-header{
    display: flex;
    justify-content: space-between;
    max-height: 30vh;
  
         padding: 0.5rem;
}
.nav-heading{
text-shadow: 1px 1px 3px black;

 margin: 1vh 0 0 0vh;
 height: auto;

} 
.nav-heading:hover{
    color:#49a6e9;
    transition: 0.3s all ease-in-out;
}
li:hover{

  border-bottom: 3px solid #49a6e9
   
    
}
li{
    border-bottom: 3px solid transparent
}
.nav-toggle{
 margin: 2vh 2vh 0 0;
 background: transparent;
 outline: none;
 border: none;
 color: #49a6e9;
 font-size: 2rem;

  
}

.links-container{
    display: flex;
    justify-content: center;
    margin-top: -4.3rem;
    
}
.nav-toggle{
    display: none;
}
.show-container{

    display: none;
    height: auto;

     transition: 0.3s all ease-in-out;
}
.link{
    padding: 2rem 1rem;
    
    
}
.link:hover{
    color:black;
    transition: 0.6s all ease-in-out;
    cursor: pointer;
}

.social-icons{
    display: flex;
  
}
li{
 padding: 1rem 1rem 0;
 list-style: none;
    


}
svg{
    color: #49a6e9;
    font-size: 2rem;
}
svg:hover{
    color: #3982b6;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
      transform: rotate(360deg);
      
}


@media all and (max-width:880px){
   
    .links-container{
        display: none;
         transition: 0.3s all ease-in-out;
    }
    .nav-toggle{
        display: block;
         transition: 0.3s all ease-in-out;
     
      
    }
    .nav-toggle:active, .nav-toggle:hover{
           transform: rotate(90deg);
    }
    .social-icons{
        display: none;
        height: auto;
     
    }
    .show-container {
        display: block;
    
       
        margin-bottom: 80px;
        transition-property: margin-bottom;
        transition-duration: 2s;
        transition-timing-function: ease-in-out;
        transition-delay: 0.8s;
       /* transition: 0.3s all; */
       }
       .nav-center{
         
           transition: 0.3s all ease-in-out;
       }

}